@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}


@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
      background-color: #2a3447;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  .div1 { grid-area: 1 / 1 / 7 / 1;}
  .div2 { grid-area: 1 / 2 / 2 / 7;}
  .div3 { grid-area: 2 / 2 / 7 / 7; } */

.div2 {
  width: 100%;

}

.div1::-webkit-scrollbar {
  width: 5px;
}

.div1::-webkit-scrollbar-thumb {
  background-color: #1b222e;
  border-radius: 20px;
}


.div1::-webkit-scrollbar-track {
  background-color: #222a39;
}

.MuiChartsLegend-mark{
  width: 10px !important;
  height: 10px !important;
  display: flex !important;
  align-items: center !important;
  stroke: #2a3447 !important;

}
.MuiBarElement-root{
  /* width: 30px !important; */

}
.MuiChartsAxis-line,.MuiChartsAxis-tick{
  stroke: #b6b8bc !important;

}

body{
  color: #b6b8bc !important;
}
tspan{
  color: #b6b8bc !important;
  fill: #b6b8bc !important;
}